body {
  background: url(http://cdn.pcwallart.com/images/gradient-wallpaper-2.jpg);
  box-sizing: border-box;
}
.container {
  background: #fff;
  /*border-radius: 5px; I need to chill with rounding everything when I design wtf */
  box-shadow: 0 0 10px black;
  font-family: "adelle-sans", sans-serif;
  font-weight: 100;
  margin: 48px auto;
  width: 20rem;
}
@media screen and (min-width: 480px) {
  .container {
    width: 28rem;
  }
}
@media screen and (min-width: 767px) {
  .container {
    width: 40rem;
  }
}
@media screen and (min-width: 959px) {
  .container {
    width: 50rem;
  }
}
.container a {
  color: #4d4dff;
  text-decoration: none;
  transition: .25s ease;
}
.container a:hover {
  border-color: #ff4d4d;
  color: #ff4d4d;
}
.cover {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/yosemite-3.jpg");
  background-size: cover;
  /*border-radius: 5px 5px 0 0;*/
  height: 15rem;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0 64px 64px 16px;
}
.author,
.author--no-cover {
  margin: 0 auto;
  padding-top: .125rem;
  width: 80%;
}
.author h3::before,
.author--no-cover h3::before {
  background: url("https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-1/p160x160/12208495_10102454385528521_4749095086285673716_n.jpg?oh=eb1039866050a5fb87baad06d74cd5e6&oe=58691103");
  background-size: cover;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 32px;
  margin-right: .5rem;
  position: relative;
  top: 8px;
  width: 32px;
}
.author h3 {
  color: #fff;
  font-weight: 100;
}
.author--no-cover h3 {
  color: #999999;
  font-weight: 100;
}
.body {
  margin: 0 auto;
  width: 80%;
}
.video-body {
  height: 100%;
  width: 100%;
}
.title h1 a {
  color: #333;
  font-weight: 100;
}
.summary p {
  color: #4d4d4d;
  text-indent: 20px;
}
.tags ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}
.tags li + li {
  margin-left: .5rem;
}
.tags a {
  border: 1px solid #999999;
  border-radius: 3px;
  color: #999999;
  font-size: .75rem;
  height: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  padding: 0 .5rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: 5rem;
}
.footer {
  border-top: 1px solid #e6e6e6;
  margin: 0 auto;
  padding-bottom: .125rem;
  width: 80%;
}
.footer ul {
  list-style: none;
  display: flex;
  flex: row wrap;
  justify-content: flex-end;
  padding-left: 0;
}
.footer li:first-child {
  margin-right: auto;
}
.footer li + li {
  margin-left: .5rem;
}
.footer li {
  color: #999999;
  font-size: .75rem;
  height: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
}
.footer li a {
  color: #999999;
}
.comments {
  margin-right: 1rem;
}
.published-date {
  border: 1px solid #999999;
  border-radius: 3px;
  padding: 0 .5rem;
}
.number {
  position: relative;
  top: -0.5rem;
}
.icon-star,
.icon-bubble {
  fill: #999999;
  height: 24px;
  margin-right: .5rem;
  transition: .25s ease;
  width: 24px;
}
.icon-star:hover,
.icon-bubble:hover {
  fill: #b593b4;
}
iframe {
  width: 100%;
}
